// size
$mobile: 375px;
$desktop: 1440px;

// colors
$primary-bright-orange: hsl(31, 77%, 52%);
$primary-dark-cyan: hsl(184, 100%, 22%);
$primary-dery-dark-cyan: hsl(179, 100%, 13%);
$neutral-transparent-white: hsla(0, 0%, 100%, 0.75);
$neutral-very-light-gray: hsl(0, 0%, 95%);

// typograp
$font-body: 15px;

// font
$font-lexend-deca: 'Lexend Deca', sans-serif;
$font-big-shoulders-display: 'Big Shoulders Display', cursive;
